auto_mix_prep==0.2.0
loguru==0.7.2
matplotlib
mlflow==2.14.1
numpy==2.0.1
pandas==1.5.3
pendulum==3.0.0
plotly==5.22.0
psutil==6.0.0
scikit_learn==1.5.1
seaborn==0.13.2
xgboost==2.1.1
time
os
sys
re
string
nltk
spacy
types